
	<!-- main content -->
	<div class="main-content">
		<!-- *** Editable Tables *** -->
		<!-- panel -->
		<div class="panel panel-piluku">
			<div class="panel-heading">
				<h3 class="panel-title">
					添加管理员
				</h3>
			</div>
			<div class="panel-body">
                <form action="#" id="form">
                    <table id="user" class="table table-bordered table-striped table-hover" style="margin-top:30px;">
                        <tbody>
                            <tr>
                                <td>用户名</td>
                                <td><input type="text" name="username" /></td>
                            </tr>
                            <tr>
                                <td>密码</td>
                                <td><input type="password" name="password" /></td>
                            </tr>
                            <tr>
                                <td>确认密码</td>
                                <td><input type="password" name="pwd" /></td>
                            </tr>
                            <tr>
                                <td>电话</td>
                                <td><input type="text" name="phone" /></td>
                            </tr>
                            <tr>
                                <td>身份</td>
                                <td>
                                    <select name="permission" style="width: 160px;height: 40px;">
                                        <option value="2">普通管理员</option>
                                        <option value="1">超级管理员</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>头像</td>
                                <td>
                                    <select name="avatar" style="width: 160px;height: 40px;">
                                        <option value="__STATIC__/admin/images/avatar/1.jpeg">1</option>
                                        <option value="__STATIC__/admin/images/avatar/2.png">2</option>
                                        <option value="__STATIC__/admin/images/avatar/3.png">3</option>
                                        <option value="__STATIC__/admin/images/avatar/4.png">4</option>
                                        <option value="__STATIC__/admin/images/avatar/5.png">5</option>
                                        <option value="__STATIC__/admin/images/avatar/6.png">6</option>
                                        <option value="__STATIC__/admin/images/avatar/7.png">7</option>
                                        <option value="__STATIC__/admin/images/avatar/8.png">8</option>
                                        <option value="__STATIC__/admin/images/avatar/9.png">9</option>
                                        <option value="__STATIC__/admin/images/avatar/10.png">10</option>
                                        <option value="__STATIC__/admin/images/avatar/11.png">11</option>
                                    </select>
                                    <img src="__STATIC__/admin/images/avatar/1.jpeg" id="avatar" style="width: 40px;border-radius: 50%">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" style="font-weight:bold;margin: 50px auto">确定</button>
                </form>
            </div>
		</div>
		<!-- /panel -->
	</div>
    <script type="text/javascript">
        $(function(){
            $("select").click(function(){
                var flag = this.value;
                $("#avatar").attr("src",flag);
            });
            $('.btn-primary').click(function(){
                $('#form').submit();
            });
            $('#form').submit(function(){
                $.post("{:url('Admin/add')}",$('#form').serialize(),function(res){
                    if(res.status==1){
                        layer.msg(res.info,{icon:6},function(){
                            location="{:url('Admin/index')}";
                        });
                    }else{
                        layer.msg(res.info,{icon:5});
                    }
                },'json')
            })
        })
    </script>
