{include file="public/header" /}

<div class="clear"></div>
<!--路径导航-->
<section class="currentPath">
	<ol class="breadcrumb">
		<li><a href="{:url('Index/index')}">首页</a></li>
		<li class="active">关于我们</li>
	</ol>
</section>
<!--关于我们-->
<div class="about" style="padding:0 10px 10px 10px;">
	<h4 style="text-align: center;">河南省郑州市德欣堂中医门诊</h4>
	<p><strong>联系电话：</strong>0371-63295120</p>
	<p><strong>邮编：</strong>450001 </p>
	<p><strong>地址：</strong>河南省郑州市高新技术产业开发区雪松路与莲花街交叉口向南50米 </p>
	<p><strong>乘车路线：</strong>郑州市内乘坐B2路公交车到雪松站下车或乘坐地铁一号线到河南工业大学站下车</p>
</div>

{include file="public/footer" /}