
	<div class="main-content">
		<div class="mail_holder">
			<!-- col-md-2 -->
			<div class="mail_body">								
				<div class="mail_list_block col-md-4 col-sm-6 no_padding col-xs-12 col-lg-4">
					<div class="mail_list">
						<div class="search_bar_block">													    
							<div class="search_icon_block">
								<input type="text" class="form-control" id="inputSuccess3" placeholder="search for mails">
								<span class="ion-search form-control-feedback" aria-hidden="true"></span>		
							</div>
						</div>
						<ul class="list-unstyled mails_holder">
							<li>
								<a href="#">
									<div class="message_list_block">
										<div class="left">
											<div class="avatar_holder">
												<img src="__STATIC__/admin/images/avatar/two.png" alt="">
											</div>
										</div>
										<div class="right">
											<span class="name">Praveen kaligatla</span>
											<div class="pull-right right_details">
												<ul class="list-unstyled list-inline">
													<li>12:30</li>
													<li><i class="ion ion-record flatRedc status"></i></li>
													<li><i class="ion-android-attach"></i></li>
												</ul>
											</div>
											<h4>Research have been going on the project will report the results asap in a few days.</h4>
										</div>
										<!-- right -->													
									</div>
								</a>
                                {volist name='list' id='val'}
                                    <a href="#">
                                        <div class="message_list_block">
                                            <div class="left">
                                                <div class="avatar_holder">
                                                    <img src="" alt="">
                                                </div>
                                            </div>
                                            <div class="right">
                                                <span class="name">{$val->user->username}</span>
                                                <div class="pull-right right_details">
                                                    <ul class="list-unstyled list-inline">
                                                        <li>{:date('Y-m-d H:i:s',$val['mailContent']['time'])}</li>
                                                        <li><i class="ion ion-record flatRedc status"></i></li>
                                                        <li><i class="ion-android-attach"></i></li>
                                                    </ul>
                                                </div>
                                                <h4>{$val['mailContent']['title']}</h4>
                                            </div>
                                            <!-- right -->
                                        </div>
                                    </a>
                                {/volist}
							</li>												
						</ul>
					</div>
					<!-- mail-list -->
				</div>
				<!-- col-md-4 -->
				<!-- mail_list_block -->									
				<div class="col-md-4 col-lg-6 col-sm-12 col-xs-12 no_padding mail_brief_holder">
					<div class="heading_block">
						<h1>Project discus <span>today 12.30am</span></h1>
						<div class="btn-group pull-right action_buttons" role="group" aria-label="...">
							<button type="button" class="btn btn-default"><i class="ion-reply"></i></button>
							<button type="button" class="btn btn-default"><i class="ion-reply-all"></i></button>
							<button type="button" class="btn btn-default"><i class="ion-android-arrow-forward"></i></button>
							<button type="button" class="btn btn-default"><i class="ion-android-attach"></i></button>
							<button type="button" class="btn btn-default"><i class="ion-ios-trash"></i></button>
						</div>
					</div>
					<!-- heading_block -->
					<div class="mail_brief_body">
						<img src="__STATIC__/admin/images/sample.jpg" alt="">
						<h4>lets do it today!</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus maxime odio facilis, corporis eum impedit ea,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis est, mollitia in! Reprehenderit voluptatem, porro distinctio iste in eos quam dicta sunt at fuga! Facilis inventore laboriosam perferendis placeat, delectus!</p>
						<ul class="list-group attachment">
							<li class="list-group-item">									    
								<a href="#"><i class="ti-microsoft-alt flatBluec"></i> Windows.exe <span><i class="ti-download"></i></span></a>
							</li>									  
							<li class="list-group-item">									    
								<a href="#"><i class="ti-android flatGreenc"></i> andriod.apk <span><i class="ti-download"></i></span></a>
							</li>
							<li class="list-group-item">									    
								<a href="#"><i class="ti-cloud-down"></i> download all<span><i class="ti-download"></i></span></a>
							</li>
						</ul>
						<textarea class="form-control" rows="4" placeholder="enter message here.."></textarea>
						<a href="#" class="btn btn-primary reply">Reply message</a>
					</div>
					<!-- mail_brief_body -->
				</div>
			</div>
			<!-- mail-body -->											
		</div>
		<!-- mail-holder -->				
	</div>
