{include file="public/header" /}

<div class="clear"></div>
<!--路径导航-->
<section class="currentPath">
	<ol class="breadcrumb">
	  <li><a href="{:url('Index/index')}">首页</a></li>
	  <li><a href="{:url('Newses/index')}">新闻列表</a></li>
	  <li class="active">新闻详情</li>
	</ol>
</section>
<!--文章-->
<article class="article-page">
	<h3 style="text-align: center;">{$info.title}</h3>
	<h5 style="text-align: center;color: #777;">发布时间：{:date('Y-m-d',$info['addtime'])}</h5>
	<div class="article-content">
		<p>
			{:htmlspecialchars_decode($info['content'])}
		</p>
	</div>
</article>

{include file="public/footer" /}