<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.min.1.8.2.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <link href="__STATIC__/admin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="__STATIC__/admin/umeditor/third-party/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/umeditor/third-party/template.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/umeditor/umeditor.config.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/admin/umeditor/umeditor.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/admin/umeditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/layer/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.form.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.btn').click(function(){
                $.post("{:url('System/add')}",$('#form').serialize(),function (res) {
                    if(res.status==1){
                        layer.msg(res.info,{icon:6},function(){
                            location="{:url('System/add')}";
                        });
                    }else{
                        layer.msg(res.info,{icon:5});
                    }
                },'json')
            })
        })
    </script>
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">网站管理</a></li>
        <li><a href="#">添加名称</a></li>
    </ul>
</div>
<div class="formbody">
    <div id="usual1" class="usual">
        <div id="tab1" class="tabson">

            <form action="#" method="post" id="form">
                <ul class="forminfo">
                    <li><label>网站名称<b>*</b></label><input name="name" type="text" class="dfinput" placeholder="请填写网站名称"  /></li>
                    <li><label>优先度<b>*</b></label><input name="priority" type="text" class="dfinput" placeholder="请填写优先度"  /></li>
                    <li><label>&nbsp;</label><input type="button" class="btn" value="马上发布"/></li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>

