<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>左侧菜单页</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="__STATIC__/admin/js/jquery.js"></script>

    <script type="text/javascript">
        $(function(){
            //导航切换
            $(".menuson .header").click(function(){
                var $parent = $(this).parent();
                $(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();

                $parent.addClass("active");
                if(!!$(this).next('.sub-menus').size()){
                    if($parent.hasClass("open")){
                        $parent.removeClass("open").find('.sub-menus').hide();
                    }else{
                        $parent.addClass("open").find('.sub-menus').show();
                    }
                }
            });

            // 三级菜单点击
            $('.sub-menus li').click(function(e) {
                $(".sub-menus li.active").removeClass("active")
                $(this).addClass("active");
            });

            $('.title').click(function(){
                var $ul = $(this).next('ul');
                $('dd').find('.menuson').slideUp();
                if($ul.is(':visible')){
                    $(this).next('.menuson').slideUp();
                }else{
                    $(this).next('.menuson').slideDown();
                }
            });
        })
    </script>


</head>

<body style="background:#FBDA81;">
<div class="lefttop"><span></span>后台管理</div>
<dl class="leftmenu">
    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>
            <a href="{:url('Index/main')}" target="rightFrame">后台首页</a>
        </div>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>网站管理
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('System/index')}" target="rightFrame">网站名称列表</a>
                    <i></i>
                </div>
            </li>
            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('System/add')}" target="rightFrame">添加网站名称</a>
                    <i></i>
                </div>
            </li>
        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>系统管理
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Admin/index')}" target="rightFrame">管理员列表</a>
                    <i></i>
                </div>
            </li>
            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Admin/add')}" target="rightFrame">添加管理员</a>
                    <i></i>
                </div>
            </li>
            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Admin/changeInfo')}" target="rightFrame">个人信息修改</a>
                    <i></i>
                </div>
            </li>
        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>导航管理
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Nav/index')}" target="rightFrame">导航列表</a>
                    <i></i>
                </div>
            </li>
            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Nav/add')}" target="rightFrame">添加导航</a>
                    <i></i>
                </div>
            </li>

        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>科室管理
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Section/index')}" target="rightFrame">科室列表</a>
                    <i></i>
                </div>
            </li>
            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Section/add')}" target="rightFrame">添加科室</a>
                    <i></i>
                </div>
            </li>
        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>产品管理
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Product/index')}" target="rightFrame">产品列表</a>
                    <i></i>
                </div>
            </li>

            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Product/add')}" target="rightFrame">添加产品</a>
                    <i></i>
                </div>
            </li>
        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>新闻管理
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('News/index')}" target="rightFrame">新闻列表</a>
                    <i></i>
                </div>
            </li>

            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('News/add')}" target="rightFrame">添加新闻</a>
                    <i></i>
                </div>
            </li>
        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>文章管理
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Health/index')}" target="rightFrame">文章列表</a>
                    <i></i>
                </div>
            </li>

            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Health/add')}" target="rightFrame">添加文章</a>
                    <i></i>
                </div>
            </li>

        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>患者反馈
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Equipment/index')}" target="rightFrame">反馈列表</a>
                    <i></i>
                </div>
            </li>

            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Equipment/add')}" target="rightFrame">添加反馈</a>
                    <i></i>
                </div>
            </li>

        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>品牌文化
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Brand/index')}" target="rightFrame">详情列表</a>
                    <i></i>
                </div>
            </li>

            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Brand/add')}" target="rightFrame">添加详情</a>
                    <i></i>
                </div>
            </li>

        </ul>
    </dd>

    <!-- <dd>
        <div class="title">
            <span><img src="__STATIC__/admin/images/leftico01.png" /></span>广告管理
        </div>
        <ul class="menuson">
            <li class="active">
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Advertise/index')}" target="rightFrame">广告列表</a>
                    <i></i>
                </div>
            </li>
    
            <li>
                <div class="header">
                    <cite></cite>
                    <a href="{:url('Advertise/add')}" target="rightFrame">添加广告</a>
                    <i></i>
                </div>
            </li>
        </ul>
    </dd> -->
</dl>
</body>
</html>
