<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/admin/js/jQuery.min.1.8.2.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/layer/layer.js"></script>

    <script type="text/javascript">
        $(function() {
            //异步提交表单
            $('.btn').click(function(){
                $.post("{:url('Nav/edit')}",$('#form1').serialize(),function(res){
                    if(res.status==1){
                        layer.msg(res.info, {icon:1},function(){
                            location="{:url('Nav/index')}";
                        });
                    }else{
                        layer.msg(res.info);
                    }
                },'json')
            })
      })
  </script>
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">导航管理</a></li>
        <li><a href="#">编辑导航</a></li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual">
        <div id="tab1" class="tabson">
            <form action="#" method="post" id="form1">
                <input type="hidden" value="{$info.id}" name="id"/>
            <ul class="forminfo">
                <li><label>导航名称<b>*</b></label><input name="navname" value="{$info.navname}" type="text" class="dfinput" placeholder="请填写导航名称"  style="width:400px;"/></li>
                <li><label>导航规则<b>*</b></label><input name="navurl" value="{$info.navurl}" type="text" class="dfinput" placeholder="请填写导航规则"  style="width:400px;"/></li>
                <li><label>优先度<b>*</b></label><input name="priority" value="{$info.priority}" type="text" class="dfinput" placeholder="请填写导航优先度"  style="width:400px;"/</li>
                <li><label>&nbsp;</label><input name="" type="button" class="btn" value="确认编辑"/></li>
            </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>
