
	<!-- main content -->
	<div class="main-content">
		<div class="row">
			<div class="col-md-12">
				<!-- panel -->
				<div class="panel panel-piluku panel-users">
                    <div class="manage_buttons" style="margin: 0!important;margin-right: 0!important;">
                        <div class="row">
                            <div class="col-md-3 search">
                                <form action="{:url('Order/index')}" method="get">
                                    <input type="text" name="keywords" value="{$keywrods?$keywords:''}" id="search" class="form-control" placeholder="Search User">
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="buttons-list">
                                    <div class="pull-right-btn">
                                        <a href="#" class="btn btn-primary">EXECL导出</a>
                                        <div class="piluku-dropdown dropdown">
                                            <button type="button" class="btn btn-more dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="ion-android-more-horizontal"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-regular-menu animated fadeInUp wow language-drop neat_drop" data-wow-duration="1500ms" role="menu">
                                                <li><a href="#">Link One</a></li>
                                                <li><a href="#">Link One</a></li>
                                                <li><a href="#">Link One</a></li>
                                                <li><a href="#">Link One</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="panel-heading">
						<h3 class="panel-title">
							订单列表
							<span class="panel-options">
								<a href="#" class="panel-refresh">
									<i class="icon ti-reload"></i> 
								</a>
								<a href="#" class="panel-minimize">
									<i class="icon ti-angle-up"></i> 
								</a>
								<a href="#" class="panel-close">
									<i class="icon ti-close"></i> 
								</a>
							</span>
						</h3>
					</div>
					<div class="panel-body nopadding">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">编号</th>
										<th class="text-center">订单号</th>
										<th class="text-center">用户名</th>
                                        <th class="text-center">价格</th>
                                        <th class="text-center">生成时间</th>
                                        <th class="text-center">订单状态</th>
                                        <th class="text-center">订单详情</th>
										<th class="text-center">操作</th>
									</tr>
								</thead>
								<tbody>
                                    {volist name='list' id='val' key='k'}
                                        <tr class="table-row">
                                            <td class="text-center">{$k+$firstRow}</td>
											<td class="text-center">{$val.orderno}</td>
											<td class="text-center">{$val['users']['username']}</td>
                                            <td class="text-center">{$val.price}</td>
                                            <td class="text-center">{:date('Y-m-d H:i:s',$val['createtime'])}</td>
                                            <td class="text-center">{$val['orderStatus']['statusname']}</td>
                                            <td class="text-center"><a href="{:url('Order/detail',['id'=>$val['id']])}">查看详情</a></td>
                                            <td class="text-center">
                                                <a href="#" id="{$val.id}" class="btn btn-orange"><i class="icon-bell"></i></a>
                                                <a href="{:url('Order/edit',['id'=>$val['id']])}" class="btn btn-green"><i class="ion ion-edit"></i></a>
                                                <a href="#" id="{$val.id} " class="btn btn-red"><i class="ion ion-ios-trash-outline"></i></a>
                                            </td>
                                        </tr>
                                    {/volist}
								</tbody>
							</table>
                            {$pages}
						</div>
					</div>
				</div>
				<!-- /panel -->
			</div>
		</div>
	</div>
	<!-- /main content -->