{include file="public/header" /}
<!--列表页-->
        <div class="listhbg hbg">
            <div class="list-content">
            	<div class="listleft">
            		<div class="prodet">{$title}</div>
            	</div>
            	<!--列表文章-->
            	<div class="listright">
            		<div class="local">
            			<p class="local1">
            				当前位置：<a href="{:url('Index/index')}">网站首页</a>--<span>{$title}</span>
            			</p>
            		</div>
            		<div class="proline">
            			<img src="__STATIC__/index/img/proline.png"/>
            		</div>
            		<div class="pro-content">
            			<div class="listarticle">
            				<div class="arttitle">
            					<p>{$info.title}</p>
            					<p class="time" style="font-size: 16px;color: #7c7a7a;margin-top: 24px!important;">发布时间：{:date('Y-m-d',$info.addtime)}</p>
            				</div>
            				<!-- <div class="artpic">
                                <img src="__STATIC__/index/img/artpic.png"/>
                            </div> -->
            				<div class="arttxt">
            					<span>
                                    {:htmlspecialchars_decode($info['content'])}
                                </span>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
         </div>
        {include file="public/footer" /}
